body {
    background-color: #696969
}

h1 {
    color: #0066CC;
    font-weight: bold;    
    font-size: 20px;
}

h2 {
    color: #0066CC;
    font-weight: bold;
    font-size: 18px;
}

#header {
    width: 920px;
    height: 70px;
    clear: both;
    background-color: #373832;
    padding: 20px 20px 5px 10px;
}

.error {
    background: none;
    border: none;
    font-size: 16px;
}

.success {
    background: none;
    border: none;
    font-size: 16px;
}

#header h1 {
    font-size: 48px;
    color: whiteSmoke;
    float: left;
    margin: 5px 0px 0px 0px;
}

#header form {
    float: right;    
}

#header ul.userMenu a {
    color: whitesmoke;
}

#header ul.userMenu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}

#body {
    width: 950px;
    height: 100%;
    background-color: #E9E9E9;
    float: left;
}

#left {    
    float: left;
    width: 150px;

    padding: 15px 10px 10px 10px;
}

#left h1 {
    font-size: 20px;
    margin: 0px;
}

#left h2 {
    font-size: 20px;
    margin: 0px;
}



#left ul.menu {   
    width: 130px;
    padding: 10px;
    list-style-type: none;

    font-size: 16px;
}

#left ul.menu ul {       
    list-style-type: none;
    margin: 0px;
}

#content {    
    float: right;
    width: 760px;
    min-height: 400px;
    background-color: white;  
    padding: 15px 10px 10px 10px;
}

#content h1 {
    border-bottom: 2px solid #E5ECF9; 
}

#footer {  
    width: 930px;
    height: 50px;
    clear: both;
    background-color: #373832;
    padding: 0px 10px;    
}

#footer div#copyright {
    float: right;
    font-size: 16px;
    color: white;
    margin-top: -25px;
}

#footer form#languageForm {
    width: 100px;
}

div#footer input {
    margin: 7px 10px 0px 0px;    
}

table tr td {
    padding: 2px;    
}

table tr td.firstColumn {
    width: 150px;
    padding-left: 5px;
}

table tr td.secondColumn {
    width: 200px;
}

table tr td.thirdColumn {
    width: auto;
}

